:root, [data-theme=default], .theme-default {
  --bulma-primary-h: 350deg;
  --bulma-primary-s: 80%;
  --bulma-primary-l: 50%;
  --bulma-info-h: 200deg;
  --bulma-info-s: 80%;
  --bulma-info-l: 50%;
  --bulma-link-h: 200deg;
  --bulma-link-s: 80%;
  --bulma-link-l: 50%;
  --bulma-success-h: 100deg;
  --bulma-success-s: 84%;
  --bulma-success-l: 46%;
  --bulma-warning-h: 50deg;
  --bulma-warning-s: 83%;
  --bulma-warning-l: 47%;
  --bulma-danger-h: 10deg;
  --bulma-danger-s: 80%;
  --bulma-danger-l: 50%;
  --bulma-scheme-h: 200;
  --bulma-scheme-s: 20%;
  --bulma-light-l: 97%;
  --bulma-light-invert-l: 9%;
  --bulma-dark-l: 9%;
  --bulma-dark-invert-l: 97%;
  --bulma-family-primary: Proxima Nova,sans-serif;
  --bulma-family-secondary: Proxima Nova,sans-serif;
  --bulma-family-code: Source Code,monospace;
  --bulma-duration: 250ms;
  --bulma-strong-weight: 700;
}

/*.button.is-outlined{
  color: var(--bulma-content-heading-color);
}*/