{% macro item(name,target,isactive=False) %}
<li><button {% if isactive %}class="is-active"{% endif %} data-target="{{target}}">{{name}}</button></li>
{% endmacro %}

{% macro script() %}
<script>
    $(document).ready(function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        if (urlParams.has('page')) {
            const page = urlParams.get('page')
            console.log(page)
            $("#menu .menu-list button[data-target="+page+"]").first().toggleClass('is-active');
            $("#"+page).toggleClass("is-hidden");
            $("#"+page).toggleClass('is-active');
        } else {
            $("#menu .menu-list button").first().toggleClass('is-active')
            $(".targets div").first().toggleClass('is-hidden')
            $(".targets div").first().toggleClass('is-active')
        };

        $("#menu .menu-list button").click(function() {
            var target = $(this).data('target')

            const url = new URL(window.location);
            url.searchParams.set("page", target);
            window.history.replaceState({}, '', url);

            $("#menu .menu-list .is-active").toggleClass('is-active')
            $(this).toggleClass('is-active')

            $(".targets .is-active").toggleClass('is-hidden')
            $(".targets .is-active").toggleClass('is-active')
            
            $("#"+target).toggleClass("is-hidden");
            $("#"+target).toggleClass("is-active");
        });
    });
</script>
{% endmacro %}