{% extends 'base.html' %}

{% block pre %}{% endblock %}
{% block head %}{% endblock %}

{% block title %}Terms of Service | {% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Terms of Service</h1>
            <p class="subtitle is-5">Last updated: 03/29/2025</p>
            <div class="content">
              <p>By using our services, you agree to the following terms. Please read them carefully.</p>
              <h3>1. Acceptance of Terms</h3>
              <p>By accessing or using this service, you agree to comply with these Terms of Service and all applicable laws. If you do not agree, please do not use our services.</p>
              <h3>2. User Accounts</h3>
              <p>To use certain features of this service, you must register for an account. You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.</p>
              <h3>3. User Responsibilities</h3>
              <p>You are responsible for the content you share on this service. You agree that:</p>
              <ul>
                  <li>You will not upload or embed any content that violates copyright laws or any other applicable laws.</li>
                  <li>You will not share any illegal, harmful, or offensive content.</li>
                  <li>You will provide accurate and truthful information when creating your account and using the service.</li>
              </ul>
              <p>This service reserves the right to remove any content at its discretion.</p>
              <h3>4. User Content</h3>
              <p>By submitting content, you grant this service the right to use this content for promotional and advertising purposes.</p>
              <h3>5. Cancellation Policy</h3>
              <p>If applicable, users can cancel their paid subscriptions at any time. Upon cancellation, you will retain access to your subscription until the end of the billing cycle (monthly or yearly), and no refunds will be issued.</p>
              <h3>6. Age Restrictions</h3>
              <p>To comply with the Children’s Online Privacy Protection Act (COPPA), this service is not intended for users under the age of 13. By using our services, you represent that you are at least 13 years old.</p>
              <h3>7. Indemnification</h3>
              <p>You agree to indemnify and hold harmless this service, its affiliates, and its employees from any claims, damages, or expenses arising from your use of the service or your violation of these Terms.</p>
              <h3>8. Service Limitations</h3>
              <p>This service is provided "as is" and without any warranties. We disclaim all liability for downtime, bugs, or any data unavailability. We do not guarantee uninterrupted access to the service.</p>
              <h3>9. Termination</h3>
              <p>This service reserves the right to terminate or suspend your account at any time, without notice, for any reason, including if you violate these Terms. Upon termination, your access to the service will be immediately revoked.</p>
              <h3>10. Limitation of Liability</h3>
              <p>To the fullest extent permitted by law, this service is not liable for any indirect, incidental, or consequential damages arising from your use of the service.</p>
              <h3>11. Binding Arbitration</h3>
              <p>Any disputes arising out of or related to these Terms or your use of the service shall be resolved through binding arbitration in accordance with the rules of the American Arbitration Association. You waive any right to a jury trial or to participate in a class action.</p>
              <h3>12. Governing Law</h3>
              <p>These Terms are governed by the laws of the State of New York, without regard to its conflict of law principles.</p>
              <h3>13. Feedback</h3>
              <p>We welcome your feedback on our services. By submitting feedback, you grant this service the right to use your suggestions and comments without any obligation to you.</p>
              <h3>14 Changes to Terms</h3>
              <p>We may update these Terms of Service from time to time. We will notify you of any significant changes via email or through the service. We encourage you to review these Terms of Service periodically for any updates. Your continued use of this service after such changes constitutes your acceptance of the new terms.</p>
              <h3>15. Privacy Policy</h3>
              <p>Your use of this service is also governed by our <a href="{{url_for('views.privacy')}}" style="text-decoration: underline;">Privacy Policy</a>, which outlines how we collect, use, and protect your personal information.</p>
              <h3>16. Contact</h3>
              <p>If you have any questions or concerns regarding these Terms of Service, please contact us at <a href="mailto:alexcchichester@gmail.com" style="text-decoration: underline;">alexcchichester@gmail.com</a></p>
            </div>
    </section>
{% endblock %}