{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
Forgot Password |
{% endblock %}

{% block content %}
<section class="section">
  {% from 'macros/form.html' import password, showPassword, submit with context %}
  <div class="container">
    <h1 class="title is-1">Change Password</h1>
    {% if form %}
    <form action="" method="post" class="block">
      {{ form.hidden_tag() }}

      {{ password(form,'password') }}

      {{ password(form,'password2') }}

      {{ showPassword() }}

      {{ submit('submit', 'Change Password', 'primary') }}
    </form>
    {% endif %}
  </div>
</section>
{% endblock %}