{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}
Forgot Password |
{% endblock %}

{% block content %}
<section class="section">
  {% from 'macros/form.html' import input, submit with context %}
  <div class="container">
    <h1 class="title is-1">Reset Your Password</h1>
    <div class="content">
      <p>Submit your email below to reset your password.</a></p>
    </div>
    <form action="" method="post" class="block" hx-post="{{url_for('users_v1.UserResetPassword')}}" hx-swap="none" hx-on:click="setTimeout(function(){window.flash('If the email exists, instructions were sent to reset password.', category='info');},1000);">
      {{ form.hidden_tag() }}

      {{ input(form,'email') }}

      {{ submit('submit', 'Submit', 'primary') }}
    </form>
  </div>
</section>
{% endblock %}