{% extends 'base.html' %}

{% block pre %}
<link rel="preconnect" href="https://challenges.cloudflare.com">
{% endblock %}
{% block head %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" defer></script>
{% endblock %}

{% block title %}Register | {% endblock %}

{% block content %}
    {% from 'macros/form.html' import input, password, showPassword, checkbox, submit with context %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">Register an Account</h1>
            <form action="" method="post" class="block">
                {{ form.hidden_tag() }}

                {{ input(form,'email') }}

                {{ input(form,'username') }}

                {{ password(form,'password') }}

                {{ password(form,'password2') }}

                {{ showPassword() }}

                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input id="tos" name="tos" type="checkbox" required>
                      I agree to the <a href='{{url_for("views.tos")}}' target="_blank" style="text-decoration: underline;">terms and conditions</a>
                    </label>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input id="marketing" name="marketing" type="checkbox">
                      Recieve occassional emails <span class="quiet">(we promise not to spam you)</span>
                    </label>
                  </div>
                </div>

                <div class="cft field">
                  <div id="ts-container" class="cft"></div>
                </div>

                <script>
                  $(document).ready(function() {
                    let widgetId = null;
                    let solved = false;

                    widgetId = turnstile.render('#ts-container', {
                      sitekey: '{{ts_site_key}}',
                      execution: 'execute',
                      appearance: 'always',
                      callback: function (token) {
                        solved = true;
                        console.log('Turnstile success:', token);
                      },
                      'error-callback': function () {
                        console.log('Turnstile error');
                        $(".cft").css("height","100%");
                      }
                    })
                    turnstile.execute(widgetId);
                    setTimeout(() => {
                      if (!solved) {
                        $(".cft").css("height","100%");
                      }
                    }, 2000);
                  });
                </script>

                {{ submit('submit', 'Register', 'primary') }}

            </form>
            <p><a href='{{url_for("views.login")}}' class="quiet">Already have an account? Login instead!</a></p>
        </div>
    </section>
{% endblock %}